
img { 
  width: 300px;
  box-shadow: 3px 3px 3px 3px #4f4f4f;
}

.App {
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 3%;
  margin: 3%;
  background-color: gainsboro;
  color: red;
  font-weight: bold;
}